<ion-header>
    <ion-toolbar>
        <ion-title>home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label>Lorem ipsum</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Lorem ipsum</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Lorem ipsum</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Lorem ipsum</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
    </ion-list>
</ion-content>

