<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>contact</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="filterItems.title" valur="Search..."></ion-searchbar>
    </ion-toolbar>
    <ion-list>
      <ion-item *ngFor="let item of items| filterBy: filterItems">
        <ion-label>
          <ion-text color="primary">
            <h3>{{item.title}}</h3>
          </ion-text>
          <p>{{item.description}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>
