<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>about</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-slides scrollbar="true" [options]="slideOpts">
      <ion-slide>
       <img src="../../../assets/images/one.jpg" alt="first">
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/images/two.jpg" alt="second">
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/images/three.jpg" alt="third">
      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-app>